@import "bootstrap-reboot.css"; 
@import "audioplayer.css"; 
@import "autocomplete.css"; 
@import "captcha.css"; 
@import "color-picker.css";
@import "context-menu.css";
@import "combo.css";
@import "datatable.css";
@import "datepicker.css";
@import "heading.css";
@import "input-range.css";
@import "jauge.css";
@import "mdt-alert.css";
@import "mdt-box.css";
@import "meteo.css";
@import "pagination.css";
@import "rating.css";
@import "scrollTop.css";
@import "selectBox.css";
@import "signature.css";
@import "social-menu.css";
@import "tooltip.css";

@keyframes spin{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}

:root {
    --main-color: #0f315b;
    --hover-color: #feb800;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: 100%;
    background-color: #dfdfdf;
    padding-bottom: 50px;
}

a{
    color: var(--main-color);
    text-decoration: none;
}

a:hover{
    color: var(--hover-color);
    text-decoration: none;
}

abbr{
    cursor:help;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: var(--main-color);
    color: #fff;
    z-index: 1000;
}

hr.title{
    margin:0 0 10px 0;
    color: #c0c0c0;
}

table.languages tr td, table tr th{
    padding: 2px;
    background-color: transparent !important;
}

textarea{
    min-height: 83px !important;
}

#adminConsoleTabContent{
    min-height: 500px;
}

#googlemap{
    margin: 52px 0 0 0;
    width:100%;
    height:300px;
    border-top: 1px solid #a0a0a0;
}

#informations i{
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-size: 25px;
    color: var(--main-color);
}

#resume h1{
    font-size: 50px;
}

#resume h3{
    font-size: 30px;
}

#resume p{
    font-size: 18px;
    text-align: justify;
}

#my-nav a{
    padding: 15px 10px;
    font-weight: bold;
    color: #fff;
}

#my-nav a.active{
    color: var(--hover-color);
}

#my-nav a:hover{
    color: var(--hover-color);
}

.adv{
    display:inline-block;
    list-style: none;
    margin:0;
    padding:0;
}

.adv li{
    padding:0;
    margin:0;
    border:0;
    display:inline-block;
    outline:none; 
}

.bg-my{
    background: var(--main-color);
}

.bg-my-secondary{
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn-first{
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(114,114,114,0) 90%,rgba(127,127,127,0.5) 100%);
    border-color: #777;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.btn-first:hover:not(.disabled){
    background-color: rgba(56,123,179,1);
    border-color: rgba(56,123,179,1);
    color: #fff;
}

.btn-first.disabled{
    cursor:not-allowed;
    border-color:#b0b0b0;
}

.btn-first:focus{
    box-shadow: 0 0 0 0.2rem rgba(56, 123, 179, 0.2);
}

.btn-xs{
    padding:1px 5px;
    font-size:12px;
    font-weight:700;
    line-height:20px;
    border-radius:4px;
}

.btn-my{
    background: var(--main-color);
    color: #fff;
}

.btn-my:hover{
    background: var(--hover-color);
    color: #fff;
}

.box{
    padding: 15px;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 2px 3px #b0b0b0 !important;
}

.cadreImg{
    position: relative;
    display:inline-block;
    border:1px solid #505050;
    z-index:100;
}

.cadreImg::before{
	position: absolute;
	content: "";
	z-index: -1;
	bottom: 16px;
	left: 8px;
	top: 80%;
	width: 50%;
	background: #555;
	-webkit-box-shadow: 0 18px 10px #303030;
	-moz-box-shadow: 0 18px 10px #303030;
	box-shadow: 0 18px 10px #303030;
	-webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
	-o-transform: rotate(-4deg);
	-ms-transform: rotate(-4deg);
	transform: rotate(-4deg);
}

.cadreImg::after{
	position: absolute;
	content: "";
	z-index: -1;
	bottom: 16px;
	right: 8px;
	top: 80%;
	width: 50%;
	background: #555;
	-webkit-box-shadow: 0 18px 10px #303030;
	-moz-box-shadow: 0 18px 10px #303030;
	box-shadow: 0 18px 10px #303030;
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	-o-transform: rotate(4deg);
	-ms-transform: rotate(4deg);
	transform: rotate(4deg);
}

.collapse-button a[aria-expanded='true'] i.fa-chevron-down{
    display: none; 
}

.collapse-button a[aria-expanded='true'] i.fa-chevron-up{
    display: inline-block;
}

.collapse-button a[aria-expanded='false'] i.fa-chevron-up{
    display: none;
}

.collapse-button a[aria-expanded='false'] i.fa-chevron-down{
    display: inline-block;   
}

.form-control{
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.15)
}

.flip-container{
    -webkit-perspective:1000;
    -moz-perspective:1000;
    -ms-perspective:1000;
    perspective:1000;
    margin:0 auto;
    cursor:pointer;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
    -moz-transform:rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    transform:rotateY(180deg);
}

.flip-container, .front, .back {
    min-width:250px;
    min-height:400px;
}

.flipper {
    -webkit-transition:0.8s;
    -moz-transition:0.8s;
    -ms-transition:0.8s;
    transition:0.8s;
    -moz-transform-style:preserve-3d;
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;
    position:relative;
}
 
.front, .back {
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    backface-visibility:hidden;
    position:absolute;
    top: 0;
    left: 0;
    margin:0;
    padding:15px;
    border-radius:5px;
    border:1px solid #707070;
    box-shadow:0 1px 5px rgba(0, 0, 0, 0.25);
}

.front {
    background-color:#fff;
    color:#000;
    z-index:2;
}

.back {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg);
    background-color:#fff;
    color:#000;
}

.back p{
    margin:0;
    font-size: 0.8rem;
}

.imgCircle{
    margin-top: 50px;
    width:100px;
    height:100px;
    border-radius:50%;
    border:3px solid white;
    box-shadow:0 3px 5px rgba(0, 0, 0, 0.6)
}

.input-first{
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.list-separated{
    margin:0 auto;
    padding:3px;
    width:200px;
    list-style:none;
    border:1px solid #d0d0d0;
    border-radius: 5px;
    box-shadow:0 1px 5px rgba(0, 0, 0, 0.3);  
}

.list-separated li{
    margin:3px 0;
    padding:3px 10px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 85%, rgba(0,0,0,0.25) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 85%,rgba(0,0,0,0.25) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 85%,rgba(0,0,0,0.25) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#40000000',GradientType=0 ); /* IE6-9 */
    border:1px solid #d0d0d0;
    border-radius: 5px;
    height:30px;
    line-height: 22px;
    font-size:14px;
    font-weight: bold;
    transition: background 0.2s linear; 
}

.list-separated li:first-child, .list-separated li:last-child {
    margin:0 0;
}

.list-separated li:hover{
    border:1px solid #337ab7;
    color:#337ab7;
}

.modal-header i{
    margin: 0 10px 0 0;
}

.parcours h4{
    font-size: 16px;
}

.parcours h4 span{
    margin: 0 0 0 15px !important;
    font-size: 11px;
    color: #a0a0a0;
}

.parcours span{
    font-size: 12px;
}

.tab-pane{
    margin:0;
    padding:15px 10px 10px 10px;
    border:1px solid #dee2e6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
    min-height: 140px;
}

.text-gray{
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 2px 2px;
}

.text-justify{
    text-align: justify;
}

.mdt-dotted{
    border:1px dotted #d0d0d0;
    border-radius: 5px;
}

.mdt-tabs-container{
    position:relative;
    display: block;
}

.mdt-tabs-container::after{
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    content: '';
    border-bottom: 2px solid #c0c0c0;
    z-index: -1;
}

.mdt-tabs{
    margin: 0;
    padding: 0;
    list-style: none;
}

.mdt-tabs li{
    display: inline-block;
    margin-right: 1px;
    padding:5px 8px;
    height:30px;
    background-color: #fff;
    border:2px solid #c0c0c0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: none;
    font-size: 0.8rem;
    font-weight: bolder;
    color: #333;
    cursor: pointer;
}

.mdt-tabs li:hover{
    color: #387bb3;
    border-color: #387bb3;
}

.priceTable{
    display:block;
    width:80%;
    margin:30px auto;
    padding:0;
    list-style:none;
    white-space: nowrap;
}

.priceTable > li > div.price{
    position:relative;
    padding:15px 0 0 0;
    width:auto;
    height:auto;
    background-color:#62b08a;
    text-align:center;
}

.priceTable > li > a.btn{
    box-shadow:0 1px 5px rgba(0, 0, 0, 0.15);
}

.priceTable > li:nth-child(1){
    border-color:#62b08a;
}

.priceTable > li:nth-child(1) a.btn{
    border-color:#41745b;
    background-color:#62b08a;
    color:rgba(255, 255, 255, 0.8);
}

.priceTable > li:nth-child(1) a.btn:hover{
    background-color:#7bd9ab;
}

.priceTable > li:nth-child(2){
    border-color:#3d6ca2;
}

.priceTable > li:nth-child(2) div.price{
    background-color:#3d6ca2;
}

.priceTable > li:nth-child(2) a.btn{
    border-color:#264263;
    background-color:#3d6ca2;
    color:rgba(255, 255, 255, 0.8);
}

.priceTable > li:nth-child(2) a.btn:hover{
    background-color:#4e88ca;
}

.priceTable > li:nth-child(3){
    border-color:#e75f32;
}

.priceTable > li:nth-child(3) div.price{
    background-color:#e75f32;
}

.priceTable > li:nth-child(3) a.btn{
    border-color:#9e4223;
    background-color:#e75f32;
    color:rgba(255, 255, 255, 0.8);
}

.priceTable > li:nth-child(3) a.btn:hover{
    background-color:#fb855e;
}

.priceTable div.price span{
    font-size:36px;
    color:rgb(255, 255, 255);
    font-weight:100;
    line-height:26px;
    vertical-align:middle;
}

.priceTable > li > div.price > span.mutted{
    font-size:12px;
    font-weight:bolder;
    color:rgba(255, 255, 255, 0.6);
}

.priceTable > li{
    position:relative;
    display:inline-block;
    width:33%;
    height:550px;
    background-color:#fff;
    border:3px solid transparent;
    border-radius:5px;
    box-shadow:0 0 12px rgba(0, 0, 0, 0.3);
    vertical-align:top;
    overflow:hidden;
    -webkit-user-select:none;                                                   
    -moz-user-select:none;                                                      
    -ms-user-select:none;                                                       
    user-select:none;  
    white-space:nowrap;                                             
}

.priceTable > li > a.btn{
    position:absolute;
    bottom:10px;
    left:calc(50% - 50px);
    text-align:center;
}

.priceTable > li > div.title{
    margin:-1px -1px 0 -1px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.priceTable > li > div.title > h3{
    margin:10px 0 5px 0;
    padding:0;
    height:35px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:28px;
    font-weight:600;
    text-align:center;
    color:#333;
    line-height:35px;
    letter-spacing:4px;
}

.priceTable > li > div.title > span{
    display:block;
    padding-bottom:15px;
    font-size:14px;
    font-weight:100;
    color:#aaa;
    text-align:center;
}

.priceTable > li:nth-child(2){
    position:relative;
    transform:scale(1.08);
    box-shadow:0 1px 12px rgba(0, 0, 0, 0.45);
    overflow:hidden;
    z-index:100;
}

.priceTable > li:nth-child(2):before{
    position:absolute;
    content:'Meilleur vente';
    display:block;
    top:20px;
    right:-45px;
    width:150px;
    height:25px;
    background-color:rgb(255, 255, 255);
    border:2px solid #e75f32;
    font-size:11px;
    font-weight:bolder;
    color:#e75f32;
    text-align:center;
    line-height:23px;
    transform:rotateZ(45deg);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.3);
}

.priceTable > li > ul.features{
    margin:0;
    padding:0;
    list-style:none;
    text-align:left;
}

.priceTable > li > ul.features > li{
    padding:0 20px;
    height:30px;
    font-size:12px;
    font-weight:100;
    color:#333;
    line-height:30px;
}

.priceTable > li > ul.features > li:nth-child(odd){
    background-color:#eeeeee; 
}

.priceTable > li > ul.features > li > span{
    margin-right:5px;
    width:20px;
    font-size:14px;
    color:#f0f0f0;
}

.priceTable > li:nth-child(1) > ul.features > li > span{
    color:#62b08a;
}

.priceTable > li:nth-child(2) > ul.features > li > span{
    color:#3d6ca2;
}

.priceTable > li:nth-child(3) > ul.features > li > span{
    color:#e75f32;
}



/* -------------------------------------------------------------------------- */
/* -- Switch ---------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
.switch-container{
    display:inline-block;
    width:100%;
    white-space: nowrap;
}

.switch-container .switch{
    position:relative;
    display:inline-block;
    vertical-align:top;
    width:56px;
    height:20px;
    padding:3px;
    background-color:white;
    background-image:-webkit-linear-gradient(top, #ccc, #fff);
    background-image:-moz-linear-gradient(top, #ccc, #fff);
    background-image:-o-linear-gradient(top, #ccc, #fff);
    background-image:linear-gradient(to bottom, #ccc, #fff);    
    border-radius:20px;
    box-shadow:inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor:pointer;
}

.switch-input:disabled ~ .switch-label:before, .switch-input:disabled ~ .switch-label:after, .switch-input:disabled ~ .switchLabel {
    color:#e0e0e0;
    cursor:not-allowed;
}

.switch-input:checked:disabled ~ .switch-label {
    background:#fdfdfd;
    box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.15), inset 0 0 8px rgba(0, 0, 0, 0.3);
}

.switch-container .switch-label {
    position:relative;
    display:block;
    height:inherit;
    font-size:10px;
    background:#fdfdfd;
    border-radius:inherit;
    box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.15), inset 0 0 8px rgba(0, 0, 0, 0.3);
    -webkit-transition:0.15s ease-out;
    -moz-transition:0.15s ease-out;
    -o-transition:0.15s ease-out;
    transition:0.15s ease-out;
    -webkit-transition-property:opacity background;
    -moz-transition-property:opacity background;
    -o-transition-property:opacity background;
    transition-property:opacity background;
}

.switch-container .switch-label:before, .switch-container .switch-label:after {
    position:absolute;
    line-height:20px;
    -webkit-transition:inherit;
    -moz-transition:inherit;
    -o-transition:inherit;
    transition:inherit;
}

.switch-container .switch-label:before {
    content:attr(data-off);
    top:1px;
    right:6px;
    color:#777;
}

.switch-container .switch-label:after {
    content:attr(data-on);
    top:1px;
    left:6px;
    color:white;
    opacity:0;
}
  
.switch-container .switch .switch-input{
    position: absolute;
    visibility: 0;
    opacity: 0;
}

.switch-container .switch-input:focus ~ .switch-label {
    box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.15), inset 0 0 8px rgba(0, 0, 0, 0.3), 0 0 0 0.2rem rgba(56, 123, 179, 0.2) !important;
}

.switch-container .switch-input:checked ~ .switch-label {
    background:#387bb3;
    box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.8);
}
  
.switch-container .switch-input:checked ~ .switch-label:before {
    opacity: 0;
}
  
.switch-container .switch-input:checked ~ .switch-label:after {
    opacity: 1;
}

.switch-container .switch-handle {
    position:absolute;
    top:4px;
    left:4px;
    width:18px;
    height:18px;
    background:white;
    border-radius:10px;
    box-shadow:0 1px 5px rgba(0, 0, 0, 0.25);
    background-image:-webkit-linear-gradient(top, white 40%, #d5d5d5);
    background-image:-moz-linear-gradient(top, white 40%, #d5d5d5);
    background-image:-o-linear-gradient(top, white 40%, #d5d5d5);
    background-image:linear-gradient(to bottom, white 40%, #d5d5d5);
    -webkit-transition:left 0.2s ease-out;
    -moz-transition:left 0.2s ease-out;
    -o-transition:left 0.2s ease-out;
    transition:left 0.2s ease-out;
}

.switch-container .switch-handle:hover{
    background-color: rgb(62, 143, 209) !important;
}

.switch-container .switch-handle:before {
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    margin:-6px 0 0 -6px;
    width:12px;
    height:12px;
    background:#f9f9f9;
    border-radius:6px;
    box-shadow:inset 0 1px rgba(0, 0, 0, 0.1);
    background-image:-webkit-linear-gradient(top, #ccc, white);
    background-image:-moz-linear-gradient(top, #ccc, white);
    background-image:-o-linear-gradient(top, #ccc, white);
    background-image:linear-gradient(to bottom, #ccc, white);
}

.switch-container .switch-input:checked ~ .switch-handle {
    left:34px;
}

.switch-container label.switchLabel{
    display:inline-block;
    margin:0 0 0 2px;
    height:25px;
    font-size:11px;
    font-weight:bolder;
    color:#333;
    line-height:25px;
    -webkit-user-select:none;                                                   /* Chrome all / Safari all */
    -moz-user-select:none;                                                      /* Firefox all */
    -ms-user-select:none;                                                       /* IE 10+ */
    user-select:none;                                                           /* Likely future */   
}

/* -------------------------------------------------------------------------- */
/* -- Switch ---------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
.switch-quad-container{
    display:block;
    width:100%;
    white-space: nowrap;
}

.switch-quad-container .switch{
    position:relative;
    display:inline-block;
    vertical-align:top;
    width:56px;
    height:20px;
    padding:3px;
    background-color:white;
    background-image:-webkit-linear-gradient(top, #ccc, #fff);
    background-image:-moz-linear-gradient(top, #ccc, #fff);
    background-image:-o-linear-gradient(top, #ccc, #fff);
    background-image:linear-gradient(to bottom, #ccc, #fff);    
    box-shadow:inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor:pointer;
}

.switch-quad-container .switch-input:disabled ~ .switch-label:before, .switch-quad-container .switch-input:disabled ~ .switch-label:after {
    color:#e0e0e0;
    cursor:not-allowed;
}

.switch-quad-container .switch-input:checked:disabled ~ .switch-label {
    background:#fdfdfd;
    box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.15), inset 0 0 8px rgba(0, 0, 0, 0.3);
}

.switch-quad-container .switch-label {
    position:relative;
    display:block;
    height:inherit;
    font-size:10px;
    background:#fdfdfd;
    border-radius:inherit;
    box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.15), inset 0 0 8px rgba(75, 72, 72, 0.3);
    -webkit-transition:0.15s ease-out;
    -moz-transition:0.15s ease-out;
    -o-transition:0.15s ease-out;
    transition:0.15s ease-out;
    -webkit-transition-property:opacity background;
    -moz-transition-property:opacity background;
    -o-transition-property:opacity background;
    transition-property:opacity background;
}

.switch-quad-container .switch-label:before, .switch-quad-container .switch-label:after {
    position:absolute;
    line-height:20px;
    -webkit-transition:inherit;
    -moz-transition:inherit;
    -o-transition:inherit;
    transition:inherit;
}

.switch-quad-container .switch-label:before {
    content:attr(data-off);
    top:1px;
    right:6px;
    color:#777;
}

.switch-quad-container .switch-label:after {
    content:attr(data-on);
    top:1px;
    left:6px;
    color:white;
    opacity:0;
}
  
.switch-quad-container .switch .switch-input{
    position: absolute;
    visibility: 0;
    opacity: 0;
}

.switch-quad-container .switch-input:focus ~ .switch-label {
    box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.15), inset 0 0 8px rgba(0, 0, 0, 0.3), 0 0 0 0.2rem rgba(56, 123, 179, 0.2) !important;
}

.switch-quad-container .switch-input:checked ~ .switch-label {
    background:#387bb3;
    box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.8);
}
  
.switch-quad-container .switch-input:checked ~ .switch-label:before {
    opacity: 0;
}
  
.switch-quad-container .switch-input:checked ~ .switch-label:after {
    opacity: 1;
}

.switch-quad-container .switch-handle {
    position:absolute;
    top:4px;
    left:4px;
    width:18px;
    height:18px;
    background:white;
    box-shadow:0 1px 5px rgba(0, 0, 0, 0.25);
    background-image:-webkit-linear-gradient(top, white 40%, #d5d5d5);
    background-image:-moz-linear-gradient(top, white 40%, #d5d5d5);
    background-image:-o-linear-gradient(top, white 40%, #d5d5d5);
    background-image:linear-gradient(to bottom, white 40%, #d5d5d5);
    -webkit-transition:left 0.2s ease-out;
    -moz-transition:left 0.2s ease-out;
    -o-transition:left 0.2s ease-out;
    transition:left 0.2s ease-out;
}

.switch-quad-container .switch-input:checked ~ .switch-handle {
    left:34px;
}

.switch-quad-container label.switchLabel{
    display:inline-block;
    margin:0 0 0 5px;
    height:25px;
    font-size:11px;
    font-weight:bolder;
    color:#333;
    line-height:25px;
    -webkit-user-select:none;                                                   /* Chrome all / Safari all */
    -moz-user-select:none;                                                      /* Firefox all */
    -ms-user-select:none;                                                       /* IE 10+ */
    user-select:none;                                                           /* Likely future */   
}

/*
 * =====================================
 * SwitchRadio
 * =====================================
 */
 .switchRadio{
    position: relative;
    display: inline-block;
    margin:0;
    padding:0;
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
    width: auto;
    height: auto;
    min-width:auto;
    border-radius: 5px;
    line-height: 26px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.switchRadio-lg{
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.4);
}

.switchRadio-sm{
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.3);
}

.switchRadio-xs{
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
}

.switchRadio label{
    position:relative;
    float:left;
    margin:0 0 0 -1px;
    padding:6px 12px;
    height:30px;
    background:rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 85%, rgba(0,0,0,0.25) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 85%,rgba(0,0,0,0.25) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 85%,rgba(0,0,0,0.25) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#40000000',GradientType=0 ); /* IE6-9 */
    border:1px solid #777;
    font-size:14px;
    color:#333;
    line-height:16px;
    cursor:pointer;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.switchRadio-lg label{
    padding:7px 14px;
    height:48px;  
    font-size:16px;
    line-height:34px; 
}

.switchRadio-sm label{
    padding:5px 10px;
    height:26px;  
    font-size:12px;
    line-height:14px; 
}

.switchRadio-xs label{
    padding:3px 6px;
    height:22px;  
    font-size:10px;
    line-height:14px; 
}

.switchRadio label:hover{
    background-color: rgb(62, 143, 209) !important;
    border-color: rgb(26, 57, 82);
    color:#fff;
    z-index:101;
}

.switchRadio input[type=radio]{
    position:absolute;
    opacity:0 !important;
    display:inline-block;
    visibility: visible !important;
}

.switchRadio input[type=radio]:checked + label{
    color:white;
    background-color: rgba(56,123,179,1);
    z-index:100;
}

.switchRadio input[type=radio]:disabled + label{
    color:#a0a0a0;
    background-color: rgb(230, 230, 230);
    cursor:not-allowed;
    z-index:101;    
}

.switchRadio input[type=radio]:focus + label{
    color:white;
    background-color: rgba(56,123,179,1);
    z-index:100;
    box-shadow: 0 0 0 0.2rem rgba(56, 123, 179, 0.2);
}

.switchRadio label:nth-child(2){
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}

.switchRadio label:last-child{
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}